{% extends 'base.html' %}

{% block title %}


TO-DO LIST


{% endblock %}





{% block content_title %}


List name

<p>Description (optional)</p>


{% endblock %}





{% block content_subtitle %}

<form action="{{ url_for('add') }}" method="POST">
    <input type="text" name="todo_item" placeholder="Type your's task" class="todo_txt-style">
    <span>
        <button type="submit" class="btn btn-success">Add</button>
    </span>
</form>


{% endblock %}





{% block content %}


<div>
    <form action="{{ url_for('update') }}" method="POST">
        <div class="todo_txt_block">
            <ul type="none">
                {% for todo in todos %}
                <li class="todo_check_txt">
                    <input type="checkbox" name="todo_check" value="{{ todo.id }}" class="todo_check">
                    <a href="/{{ todo.id }}">
                        {{ todo.text }}
                    </a>
                    {% endfor %}
                </li>
            </ul>
        </div>
        <button type="submit" class="btn btn-danger ">Delete</button>
    </form>
</div>


{% endblock %}